body, html {
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: mainBold;
    src: url(./assets/fonts/Steiner-W01-Special.ttf)
}

* {
    box-sizing: border-box;
}

.blurred-bg {
    background-image: url(./assets/images/5.jpg);
    filter: blur(9px);
    -webkit-filter: blur(9px);
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    background-position:center;
    background-repeat:no-repeat;
    background-origin: center;
    background-size: cover;
}

#indexWrapper {
    visibility: visible;
    position:inherit;
}

.mainBody { 
    font-family: mainBold;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.mainText {
    font-family: mainBold;
    position: absolute;
    background-color: white;
    color: black;
    width: 60%;
    font-size: 9vw;
    font-weight: bold;
    margin: 10px 10px;
    padding: 10px;
    outline: 4px solid black;
    outline-offset: -10px;
    border-radius: 15px;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    z-index: 5;
    mix-blend-mode: screen;
}

@media only screen and (max-width: 600px) {
    .mainText {
        transform: translate(-15%, -50%);
        width: 90%;
        left: 15%;
        top: 5%;
    }
}

.navOptions {
    color: white;
    font-family: mainBold;
    font-size: 3vw;
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50%;
    justify-content: space-around;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}

@media only screen and (max-width: 600px) {
    .navOptions {
        top: 12%;
        font-size: 4.5vw;
        width: 75%;
        left: 12.5%;
        -webkit-text-stroke-width: 1px;
    }
}

.navOption {
    text-align: center;
    padding: 10px;
}

.navOption:hover {
    cursor: pointer;
    height: 110%;
    width: 110%;
    transform: translate(-5%, -5%);
    position: -2vh;
}

#rugPics {
    position: absolute;
    display: none;
    top: 20%;
    left: 10vw;
    height: 70vh;
    width: 80vw;
    border-width: 0px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-position:center;
    background-repeat:no-repeat;
    background-origin: center;
    background-size: cover;

}

@media only screen and (min-width: 600px) {
    #rugPics {
        display: none;
        top: 105vh;
    }
}

.navBar {
    position: sticky;
    top: 0;
    height: 5vh;
    width: 100vw;
    border: 1px solid rgba(255, 255, 0, 0.25);
    background-color: rgba(255, 255, 0, 0.25);
}

.navElement {
    opacity: 1;
    color: white;
    position: absolute;
    top: 20%;
    left: 2.5vw;
    font-size: x-large;
}

.comingSoonBox {
    position: absolute;
    display: grid;
    justify-content: center;

    border: 1px solid black;
    margin-top: -100vh;
    margin-left: 22.5vw;
    height: 100vh;
    width: 55vw;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
    background: url(./assets/images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.centeredTextPanel {
    font-family: mainBold;
    display: block;
    justify-content: center;
    border: 10px solid white;
    border-radius: 10px;
    height: min-content;
    width: min-content;
    margin-top: 25%;
}

.centeredText {
    
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 18vh;
    color: white;
    line-height: 1;
}

#comingSoon {
    font-size: 12vh;
}

.comingSoonImage {
    display: none;
    position: absolute;
    justify-content: center;
    margin-top: -100vh;
    margin-left: 22vw;
    height: 100vh;
    width: 55vw;
    background: url(./assets/images/watch-for-it.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 2;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
}

.carousel-wrapper {
    overflow: hidden;
    width: 90%;
    height: 75vh;
    position: absolute;
    top: 20%;
    left: 5%;
}

@media only screen and (min-width: 800px) {
    .carousel-wrapper {
        display: none;
        top: 100%;
    }
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
    z-index: 50;
}

.carousel__photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 150%;
    height: 150%;
    margin: auto;
    z-index: 100;
    transition: opacity 1s, z-index 1s;
}

.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel__photo.active {
    height: 100%;
    width: min-content;
    opacity: 1;
}

.carousel__photo.prev,
.carousel__photo.next {
    z-index: 800;
}

.carousel__photo.prev {
    transform: translateX(-100%);
}

.carousel__photo.next {
    transform: translateX(100%);
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    transform: translateY();
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid black;
}

.carousel__button--prev {
    left: 0;
}

.carousel__button--next {
    right: 0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}